<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClotheSearch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE007FF31D2EF4A100D6121A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE00800A1D2EF4A100D6121A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE0080151D2EF4A100D6121A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
